
.login-form {

	background:url(../images/loginbg.png);
	height:100vh;
	background-size: cover;
	padding: 130px 0;
	background-position: 50% 50%;
}

.form-l-title {
	max-width: 530px;
	margin: 0 auto;
	background: rgba(2, 2, 2, 0.28);
	padding: 57px 60px 40px 60px;
	border-radius: 20px;
}

.form-l-text {

	margin-bottom: 40px;	
}

.form-l-text input {
	
    margin-bottom: 10px;
    background: #FFFFFF;
	border: 1px solid #C4C0C0;
	box-sizing: border-box;
	border-radius: 10px;
	width:100%;
	height:50px;
	text-indent:30px;
}
.form-l-text input:focus {
	outline: none;
	border-color: #FE1C6A;
}
.form-l-text span {
	color:#FFFFFF;
	text-align:right;

}

.form-l-button {
	text-align: center;		
}

.form-l-button button {

	border-radius: 20px;
	width:80%;
	border-color: #dc3545;
	border: none;
	height: 45px;
	background: #FFFFFF;
	font-size: 18px;
	
}
.form-l-button button:focus {
	outline: none;
}

.form-l-bottom  p {
	text-align: center;
	margin-top: 20px;
}
.form-l-text  label {

	font-size:18px;
}
.logo-ref {
	text-align: center;
	margin-bottom:40px;
}
.logo-ref img {
	width:100px;
	height:100px;
}



