
/*Desktop css*/

.footer-section {
  background-color:rgba(100,21,255);
  padding: 40px 30px;
}
.footer-all {
  border-bottom:0.1px solid #e2e8f0;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.footer-items {
  width:20%;
  margin-bottom:25px;
  display: inline-block;
  align-items: center;
  color:#fff;
  font-family: Helvetica;
}

.footer-bottom {
  text-align: center;
  margin-top:50px;
  color:#fff;
  font-family: Helvetica;
}

/*Mobile css*/

@media screen and (max-width: 767px) {

.footer-items {
  width:auto;
  display: inline-block;
  padding:15px;
}
}
