
.heropage-main {
    padding:70px 36px;
}

.heropage-content {
    width:40%;
    max-width: none;
    text-align: left;
    display: inline-block;
    vertical-align:middle;
}

.heropage-content h1 {
    font-size: 48px;
    font-family: Helvetica;
}
.heropage-content h1 span {
    color: #6415FF;
    font-family: Helvetica;
}
.heropage-content p {
    font-size:18px;
    color:#243E63;
    font-family: Helvetica;
    margin:36px 0px;
}
.heropage-image {
    width:60%;
    display: inline-block;
}    
.heropage-image img {
    max-width:700px;
    vertical-align: middle;
}


/*Ipad Landscape */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
    .heropage-image img {
        max-width:600px;
        vertical-align: middle;
    }

}

/*IPad */

@media screen and (max-width: 991px) {

    .heropage-content {
        width:100%;
        text-align:center;
        display:block;
    }
    .heropage-content h1 {
        font-size:30px;
    }
}

/*Mobile view*/

@media screen and (max-width:767px) {

    .heropage-content {
        width:100%;
        text-align:center;
        display:block;
    }
    .heropage-content h1 {
        font-size:30px;
    }

    .heropage-content p {
        font-size:18px;
    }
    .heropage-image {
        width:100%;
        display:block;
    }
    .heropage-image img {
        width:100%;
        vertical-align: middle;
    }
}   