
/*Desktop css*/

.Pricing-main {
    padding: 70px 20px;
}
.Pricing-main .Pricing-heading h5 {
    font-size: 18px;
    font-family: Helvetica;
    color: #6415FF;
    text-align: center;
    margin: 10px 0px;
}
.Pricing-main .Pricing-heading h2 {
    font-size: 48px;
    font-family: Helvetica;
    color: #243E63;
    text-align: center;
    font-weight: 900;
    letter-spacing:0.025rem; 
    width: 100%;  
    margin: 10px 0px;  
}
.Pricing-main .Pricing-heading h2 span {
    color: #6415FF;
}
.Pricing-main .Pricing-heading p {
    font-size: 18px;
    font-family: Helvetica;
    color: #7C8BA1;
    text-align: center;
    max-width: 600px;
    margin:0 auto;
    margin-bottom:40px;
}
.pricing-card-all {
    padding:70px 0px;
}
.pricing-card {
    width:30%;
    display:inline-block;
    text-align: center;
    background:blue;
    margin:0px 20px;
    border-radius:0px 0px 10px 10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px 0 rgba(0,0,0,0.06);
    --text-opacity: 1;
    color: rgba(26,32,44,var(--text-opacity));
    --bg-opacity: 1;
    background-color: rgba(255,255,255,var(--bg-opacity));
}
.pricing-card .card-head{
    border-bottom:2px solid #e2e8f0;
    padding-top:32px;
    padding-bottom:32px;
    text-transform: uppercase;
    line-height: 1.625;
}

.pricing-card .card-head p {
    font-weight: 700;
    font-family: Helvetica;
    color: #7C8BA1;
    font-size:18px;
}

.pricing-card  .card-body {
    padding:36px;
    border-bottom:2px solid #e2e8f0;
}

.pricing-card .card-body p {
    font-weight: 700;
    font-family: Helvetica;
    color: #7C8BA1;
    font-size:18px;
}
.pricing-card .card-footer {
    padding: 40px 100px;
}

.pricing-card .card-footer button {
    width:100%;
    padding:16px 32px;
    border-radius:20px;
    border:none;
}

.design {
    border:5px solid rgb(129 230 217) ;
    border-radius:20px;
}

/*IPad landscape*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 

    .pricing-card {
        width:28%;
    } 
}

/*Ipad */

@media screen and (max-width:991px) {

    .pricing-card-all {
        padding:0px;
    }
    .pricing-card {
        display:block;
        width:100%;
        max-width: 24rem;
        margin:0 auto;
        margin-bottom:50px;
    }   
}

/*Moblie */

@media screen and (max-width: 767px) {

    .Pricing-main .Pricing-heading h2 {
        font-size:30px;
    }
    .pricing-card {
        display:block;
        width:auto;
        margin-bottom:40px;
    }
    .pricing-card .card-footer {
        padding: 19px 55px;
    }
}    