

/*Desktop*/

.service-main {
    padding: 70px 20px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
    
.service-main .service-heading h5 {

    font-size: 18px;
    font-family: Helvetica;
    color: #6415FF;
    text-align: center;
    margin: 10px 0px;
}
.service-main .service-heading h2 {
    font-size: 48px;
    font-family: Helvetica;
    color: #243E63;
    text-align: center;
    font-weight: 900;
    letter-spacing:0.025rem; 
    width: 100%;    
    margin: 10px 0px;
}
.service-main .service-heading h2 span {
    color: #6415FF;
}

.service-main .service-heading p {

    font-size: 18px;
    font-family: Helvetica;
    color: #7C8BA1;
    text-align: center;
    max-width: 600px;
    margin:0 auto;
}

.service-card {
    width:33.33%;
    display: inline-block;
}
.service-inner {
    padding: 30px;
}

.service-card-image {
    display:table-cell;
}
.service-card-image img {

    border:solid 2px #e2e8f0;
    border-width: 1px;
    text-align: center;
    border-radius: 9999px;
    padding: 1.25rem;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    vertical-align: middle;
}

.service-card-content {
     display:table-cell;
     padding-left:16px;
}

.service-card-content p {
    font-weight: 500;
    font-family: Helvetica;
    --text-opacity: 1;
    color: rgba(124,139,161,var(--text-opacity));
    line-height: 2;
    margin: 0px;
}

.service-card-content h2 {
   margin:0px;
   font-family: Helvetica;
}


/*Ipad*/

@media screen and (max-width:991px) {

    .service-card {
        width:50%;   
    }
}    

/*Mobile view*/

@media screen and (max-width:767px) {
    .service-card {
        width:100%;
        display:block;
    }
    .service-main .service-heading h2 {
        font-size: 30px;  
    }
}