

/*Desktop*/

.testimony-main {
	padding:70px 20px;
}

.testimony-image {
	display:inline-block;	
	width:50%;
}
.testimony-image img  {
	max-width:80%;
	height:auto;
}

.testimony-review {

	width:45%;
	display:inline-block;
	vertical-align:top;
}
.testimony-review h5 {
    font-size: 18px;
    font-family: Helvetica;
    color: #6415FF;
    text-align: center;
    margin: 10px 0px;
}
.testimony-review h2 {
    font-size: 48px;
    font-family: Helvetica;
    color: #243E63;
    font-weight: 900;
    letter-spacing: 0.025rem;
    width: 100%;
    margin: 10px 0px;
}
.testimony-review h2 span {
	color: #6415ff;
}
.testimony-review p {
    font-size: 18px;
    font-family: Helvetica;
    color: #7C8BA1;
    margin-bottom: 20px;
}

.testimony-review h3 {
	font-size: 16px;
    font-family: Helvetica;
    color: #7C8BA1;	
}

.slick-slide div {
  outline: none;
 }

.slick-prev:before,
.slick-next:before {

    color:#000 !important; 
}

/*Ipad */

@media screen and (max-width:991px) {

	.testimony-image {
		display:block;	
		width:100%;
	}
	.testimony-image img  {
		max-width:100%;
		height:auto;
	}
	.testimony-review {
		width:100%;
		display:block;
	}
	.testimony-review h5 {
	margin-top:40px;
	}
	.slick-prev {
		left:325px !important;
		top:105px !important;
	}
	.slick-next {
	right:325px !important; 
	top:105px !important;
	}

}


@media screen and (max-width:767px) {

	.testimony-image {
		display:block;	
		width:100%;

	}
	.testimony-image img  {
		max-width:100%;
		height:auto;
	}
	.testimony-review {
		width:100%;
		display:block;
	}
	.testimony-review h2 {
		font-size:30px;
		text-align: center;
	}
	.slick-prev {
		left:120px !important;
		top:130px !important;
	}
	.slick-next {
		right:130px !important; 
		top:130px !important;
	}
}