
/*Desktop View Navbar css*/

.NavbarItems {
    background:#fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.navbar-logo {
    color: #000;
    margin-left:30px;
    font-family: Helvetica;
}


.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align:left;
    width:100vw;
    justify-content: end;
    margin-right: 32px;
}

.nav-links {
    color:#000;
    text-decoration: none;
    padding:8px 16px;
    font-size:18px;
    font-weight:600px;
    font-family: Helvetica;
}
.menu-icon {
    display: none;
}

/*Ipad view Navbar css*/

@media screen and (max-width: 960px) {
.NavbarItems {
    position: relative;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    height: 500px;
    position: absolute;
    top:61px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    width:90vw;
}

.nav-menu.active {
    background: #fff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
}

.nav-links {
    text-align: center;
    padding:32px;
    display: table;
}
.navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 20%);
}
.menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 28px;
    cursor: pointer;
}
.fa-times {
    color: #000;
    font-size:32px;
}

}
